/*variaveis*/
:root{
    --cor-fundo: rgb(49, 49, 49);
    --cor-texto: white;
    --cor-link: rgb(175, 5, 5);
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(49, 49, 49);
    padding: 8px 24px;
}

.logo{
    color: var(--cor-texto);
    font-size: 24px;
    font-weight: bold;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 24px;
}

.nav-links a{
    color: var(--cor-texto);
    text-decoration: none;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-links a:hover{
    color: var(--cor-link);
    text-decoration: underline;
}

/* Footer */
.rodape-principal {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    padding: 24px;
    margin-top: 36px;
}

.container-rodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lista-rodape {
    list-style: none;
    padding: 0;
}

.lista-rodape li {
    margin-bottom: 8px;
}

.lista-rodape a {
    color: var(--cor-texto);
    text-decoration: none;
}

.lista-rodape a:hover {
    color: var(--cor-link);
    text-decoration: underline;
}